#canvas {
    height: 200px;
    width: 200px;
    background-color:blueviolet;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

}

#background {
    background-color: white ;
}

#palette {
    width: 80px;
    height: 10px;
    border: 1px solid black;
}
